body {
    background: linear-gradient(45deg, #111, #000);
}

.content {
    & h1 {
        font-size: 7em;
        margin-bottom: 0;
        line-height: 129px;
    }

    & h4 {
        font-size: 2em;
    }

    & hr {
        width: 350px;
        background: gray;
    }
}