$primary: dodgerBlue;
$secondary: #131313;
$secondary-dark: #111;

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Poppins";
    background: $secondary;
    height: calc(100% - 50px);
}

nav {
    font-family: "Poppins";
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    color: white;
    background-color: $secondary-dark;

    & h3 {
        margin-left: 15px;
    }

    .container:first-child {
        display: flex;
        align-items: center;
        gap: 10px;

        & a {
            transition-duration: 250ms;
            display: flex;
            align-items: center;
            gap: 0;
            color: grey;
            text-decoration: none;

            & i {
                transition-duration: 250ms;
                font-size: 0;
            }

            &:hover {
                color: white;
                gap: 7px;
                & i {
                    font-size: 100%;
                }
            }
        }

        & .vertical-line {
            height: 15px;
        }

        & .vertical-line-small {
            height: 10px;
        }
    }

    .container {
        &:last-child {
            & a {
                font-family: "Poppins";
                cursor: pointer;
                margin-right: 15px;
                text-decoration: none;
                background: $primary;
                padding: 5px 8px;
                border-radius: 5px;
                border: 0;
                color: white;
            }
        }
    }
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    height: 100%;
    text-align: center;

    & .socials {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        width: 100%;
    }

    & .social-container {
        transition-duration: 250ms;
        font-size: 2.25em;
        color: grey;

        & a {
            transition-duration: 250ms;
            transition-property: color;
            color: grey;
            text-decoration: none;
        }

        &:hover {
            text-shadow: 0px 0px 10px #000;
            font-size: 2.6em;

            & a {
                color: white;
            }
        }
    }

    & .profile-pic {
        width: 250px;
        border-radius: 250px;
        border: $secondary-dark solid 5px;
        box-shadow: 0px 0px 20px 20px #010101aa;
        margin-bottom: 15px;
    }

    & h1 {
        display: flex;
        align-items: center;
        color: white;
        font-size: 50px;
        margin: 0;

        & img {
            margin-left: 15px;
            width: 40px;
            height: 40px;
            border: 5px solid #111;
            border-radius: 30px;
        }
    }

    & h4 {
        display: flex;
        align-items: center;
        gap: 10px;
        color: grey;
        font-size: 20px;
        margin: 0;
    }

    & p {
        color: white;
        margin-top: 40px;
        padding: 0 5px;
    }
}

.vertical-line {
    display: inline-block;
    background: grey;
    width: 3px;
    height: 50%;
    margin: 0;
    border-radius: 25px;
}

@media only screen and (max-width: 550px) {
    .content {
        & p {
            font-size: 0.8em;
        }
    }
}

@media only screen and (max-width: 500px) {
    .content {
        & p {
            font-size: 0.75em;
        }
    }
}
