body {
    background-color: #333;
    color: #FFF;
}

@keyframes animate-from-left {
    from {
        margin-right: 100%;
    } to {
        margin-right: 0;
    }
}

.animate-from-left {
    animation: animate-from-left 1s cubic-bezier(0.1, 0.7, 1.0, 0.1);
}
