body {
    background-color: #333;
    color: #FFF;
}

@keyframes animate-from-left {
    from {
        position:relative;
        right:100%;
    } to {
        right:0;
    }
}

.animate-from-left {
    animation: animate-from-left 1s ease-in;
}

.pop-on-hover {
    transition-duration: 0.5;
    transition-timing-function: ease-in;;
}

.pop-on-hover:hover {
    font-size:150%;
    text-shadow: 2px 2px #000;
}
